{% extends 'base.html' %}

{% block content %}

  <!-- header image -->
  <div id="warbler-hero" style="background-image: url('{{ user.header_image_url }}');" class="full-width"></div>

  <!-- profile pic -->
  <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
  <div class="row full-width">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-9">

            <!-- nav bar -->
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Messages</p>
              <h4>
                <a href="/users/{{ user.id }}">{{ user.messages | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Following</p>
              <h4>
                <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Followers</p>
              <h4>
                <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Likes</p>
              <h4><a href="/users/{{ g.user.id }}/likes">{{ user.liked_messages | length }}</a></h4>
            </li>
            <div class="ml-auto">
              {% if g.user.id == user.id %}
                <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
                <form method="POST" action="/users/delete" class="form-inline">
                  <button class="btn btn-outline-danger ml-2">Delete Profile</button>
                </form>
              {% elif g.user %}
                {% if g.user.is_following(user) %}
                  <form method="POST" action="/users/stop-following/{{ user.id }}">
                    <button class="btn btn-primary">Unfollow</button>
                  </form>
                {% else %}
                  <form method="POST" action="/users/follow/{{ user.id }}">
                    <button class="btn btn-outline-primary">Follow</button>
                  </form>
                {% endif %}
              {% endif %}
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- bio and location -->
  <div class="row">
    <div class="col-sm-3">
      <h4 id="sidebar-username">@{{ user.username }}</h4>
      <p>{{ user.bio }}</p>
      <p class="user-location"><span class="fa fa-map-marker"></span> {{ user.location }}</p>
    </div>

    <!-- User's liked Messages -->
    <div class="col-sm-6">
      <ul class="list-group" id="messages">
  
        {% for message in user.liked_messages %}
  
          <li class="list-group-item">
            <a href="/messages/{{ message.id }}" class="message-link"></a>
  
            <a href="/users/{{ message.user_id }}">
              <img src="{{ message.user.image_url }}" alt="user image" class="timeline-image">
            </a>
  
            <div class="message-area">
              <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
              <span class="text-muted">
                {{ message.timestamp.strftime('%d %B %Y') }}
              </span>
              <p>{{ message.text }}</p>
              <!-- Likes -->
                <form method="POST" 
                action="/messages/{{message.id}}/like">
                {{ form.hidden_tag() }}
                
                    <!-- Liked messages -->
                    {% if message in g.user.liked_messages%}
                        <button class="btn fas fa-heart fa-lg" 
                                style="position:relative; 
                                      color:red; 
                                      z-index:999">
                    {% elif message.user.id != g.user.id %}
                    <!-- Unliked Messages -->
                        <button class="btn far fa-heart fa-lg" 
                                    style="position:relative; 
                                          color:black; 
                                          z-index:999">
                        </button>
                    {% endif %}
                    
                  </form>
            </div>
          </li>
  
        {% endfor %}
  
      </ul>
    </div>

{% endblock %}